nav {
  background-color: #282c34;
  padding: 1em;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.api-data-card {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.api-data-card p {
  display: flex;
  justify-content: center;
}

.api-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.joke-container {
  width: 50%;
}

.title {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  /* color: #666; */
  color: #000;
}

.news {
  width: 50%;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.news-container input,
.karlo-container input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.news-container button,
.karlo-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.news-container button:hover {
  background-color: #0056b3;
}

.news-list {
  list-style: none;
  margin: 20px 20px 20px 0;
}

.news-item {
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-item p {
  font-size: 14px;
  color: #555;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

.list-container {
  display: flex;
  justify-content: center;
}

.karlo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}